*{
    font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	background-color: #f2f3f4;
}

header{
    text-transform: uppercase;
	text-align: center;
	font-size: 34px;
    background-color: orange;
    padding-bottom: 100px;
}

article{
    margin-top: 100px;
	margin-left: 300px;
	margin-right: 300px;
}

p{
    margin-bottom: 2em;
    font-size: 1.4em;
    text-align: justify;
}


.rouge{
    color:red;
}

.bleu{
    color:blue;
}

.vert{
    color:green;
}

.noir{
    color:black;
}

.gras{
    font-style:bold;
}

.souligne{
    text-decoration:underline;
}

.italique{
    font-style:italic;
}